<main class="overflow-y-auto h-100">
  <header class="position-absolute header">
    <nav class="d-flex align-items-center text-white p-5">
      <h1 class="pe-5">room</h1>
      <ul class="d-flex mb-0 ps-0">
        <li class="pe-4">
          <a>home</a>
        </li>
        <li class="pe-4">
          <a>shop</a>
        </li>
        <li class="pe-4">
          <a>about</a>
        </li>
        <li>
          <a>contact</a>
        </li>
      </ul>
    </nav>
  </header>

  <div id="carouselSlide" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="false">
        <div class="d-flex">
          <div class="col-8">
            <img src="assets/images/desktop-image-hero-1.jpg" class="d-block w-100" alt="slide1">
          </div>
          <div class="d-flex flex-column justify-content-between">
            <div class="d-flex flex-column justify-content-center h-100 p-5 m-5">
              <h1> Discover innovative ways to decorate</h1>
              <p class="text-info"> We provide unmatched quality, comfort, and style for property owners across the
                country.
                Our experts combine form and function in bringing your vision to life. Create a room in your
                own style with our collection and make your property a reflection of you and what you love.</p>
              <p class="letter-spacing">SHOP NOW<img src="assets/images/icon-arrow.svg" alt="icon-arrow"></p>
            </div>
            <div class="cursor-pointer">
              <img src="assets/images/icon-angle-left.svg" alt="arrow-left" class="img-fluid bg-dark p-4"
                data-bs-target="#carouselSlide" data-bs-slide="prev">
              <img src="assets/images/icon-angle-right.svg" alt="arrow-right" class="img-fluid bg-dark p-4"
                data-bs-target="#carouselSlide" data-bs-slide="next">
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="d-flex">
          <div class="col-8">
            <img src="assets/images/desktop-image-hero-2.jpg" class="d-block w-100" alt="slide2">
          </div>
          <div class="d-flex flex-column justify-content-between">
            <div class="d-flex flex-column justify-content-center h-100 p-5 m-5">
              <h1> We are available all across the globe</h1>
              <p class="text-info"> With stores all over the world, it's easy for you to find furniture for your home or
                place of business.
                Locally, we're in most major cities throughout the country. Find the branch nearest you using our
                store locator. Any questions? Don't hesitate to contact us today.</p>
              <p class="letter-spacing">SHOP NOW<img src="assets/images/icon-arrow.svg" alt="icon-arrow"></p>
            </div>
            <div class="cursor-pointer">
              <img src="assets/images/icon-angle-left.svg" alt="arrow-left" class="img-fluid bg-dark p-4"
                data-bs-target="#carouselSlide" data-bs-slide="prev">
              <img src="assets/images/icon-angle-right.svg" alt="arrow-right" class="img-fluid bg-dark p-4"
                data-bs-target="#carouselSlide" data-bs-slide="next">
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="d-flex">
          <div class="col-8">
            <img src="assets/images/desktop-image-hero-3.jpg" class="d-block w-100" alt="slide3">
          </div>
          <div class="d-flex flex-column justify-content-between">
            <div class="d-flex flex-column justify-content-center h-100 p-5 m-5">
              <h1>Manufactured with the best materials</h1>
              <p class="text-info">Our modern furniture store provide a high level of quality. Our company has invested
                in
                advanced technology
                to ensure that every product is made as perfect and as consistent as possible. With three decades of
                experience in this industry, we understand what customers want for their home and office.</p>
              <p class="letter-spacing">SHOP NOW<img src="assets/images/icon-arrow.svg" alt="icon-arrow"></p>
            </div>
            <div class="cursor-pointer">
              <img src="assets/images/icon-angle-left.svg" alt="arrow-left" class="img-fluid bg-dark p-4"
                data-bs-target="#carouselSlide" data-bs-slide="prev">
              <img src="assets/images/icon-angle-right.svg" alt="arrow-right" class="img-fluid bg-dark p-4"
                data-bs-target="#carouselSlide" data-bs-slide="next">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <img src="assets/images/image-about-dark.jpg" alt="img-dark" class="w-100 img-fluid">
    </div>
    <div class="col-6 p-5">
      <h5 class="letter-spacing">ABOUT OUR FURNITURE</h5>
      <p class="text-info">Our multifunctional collection blends design and function to suit your individual taste.
        Make each room unique, or pick a cohesive theme that best express your interests and what
        inspires you. Find the furniture pieces you need, from traditional to contemporary styles
        or anything in between. Product specialists are available to help you create your dream space.</p>
    </div>
    <div class="col-3">
      <img src="assets/images/image-about-light.jpg" alt="img-light" class="w-100 img-fluid">
    </div>
  </div>
</main>